<%= form_with model: @bank, local: true do |form| %>
  <% if @bank.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@bank.errors.count, "error") %> prohibited
        this customer from being saved:
      </h2>
      <ul>
        <% @bank.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :address %><br>
    <%= form.text_area :address %>
  </p>

   <p>
    <%= form.label :phone %><br>
    <%= form.text_area :phone %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
