<%= form_with model: @locker, local: true do |form| %>
  <p>
    <%= form.label :locker_key%><br>
    <%= form.text_field :locker_key %>
  </p>
  
 <%= form.hidden_field :account_id, :value => params[:account_id] %>
  <p>
    <%= form.submit %>
  </p>
<% end %>