<h1>Listing Accounts</h1>
<%= link_to 'New account', new_account_path %>
<table>
  <tr>
    <th>account_no</th>
    <th>balance</th>
    <th colspan="3"></th>
  </tr>
 
  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.account_no %></td>
      <td><%= account.balance %></td>
      <td><%= link_to 'Show', account_path(account) %></td>
      <td><%= link_to 'Edit', edit_account_path(account) %></td>
      <td><%= link_to 'Destroy', account_path(account),method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

